apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
spec: 
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels: 
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec: 
      imagePullSecrets:
      - name: my-ecr-secret
      containers:
      - name: frontend
        image: 526722047662.dkr.ecr.ap-south-1.amazonaws.com/three-tier-frontend:latest
        imagePullPolicy: Always
        env:
          - name: REACT_APP_BACKEND_URL
            value: "http://a2a09195acf544ba0bbb5d49fb6187d9-1150914881.ap-south-1.elb.amazonaws.com/api/tasks/"
        ports:
        - containerPort: 3000
